VITE_FIREBASE_API_KEY=AIzaSyCU7sMzfmfcYG0CjSjD9y3qQkcN3CdhKAY
VITE_FIREBASE_AUTH_DOMAIN=apexfest-29fd9.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=apexfest-29fd9
VITE_FIREBASE_STORAGE_BUCKET=apexfest-29fd9.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=851932350810
VITE_FIREBASE_APP_ID=1:851932350810:web:c40703d64b4bc86b760b63